/* styles.css */
.custom-background {
    background-image: url("https://png.pngtree.com/background/20230528/original/pngtree-an-arrangement-of-various-indian-food-picture-image_2778221.jpg");
    background-size: cover; /* This will cover the entire div */
    background-position: center; /* This will center the image */
  
}
@media screen and (max-width: 600px) {
     .search-container {
        width: 60%;
        margin: 10px auto;
    }
    
    input[type="text"] {
        width: 100%;
        padding: 4px;
    }
    button{
        padding-right: 4px;
        font-size: 14px;
    }
    div div span div{
    
        
    }
    div div span{
        font-size: 35px;
        font-weight: bold;
        align-items: center; 
        text-align: center;
        padding-top: 40px;
    }
    div div span div div input{
        width:60%;
        padding:10px;
    }
    
}